.footer {
    display: flex;
    color: #fff;
    justify-content: center;
    background-color: #eba99d;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
}

.footer > svg {
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
}

.footer > svg:hover {
    transform: scale(1.07)
}